default:
    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension:
            base_url:  'http://localhost/TodoMVC/web/app_dev.php'
            sessions:
                my_session:
                    goutte: ~

    suites:
        my_suite:
            type: symfony_bundle
            bundle: TodoMVCTodoMVCBundle
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - FeatureContext:
                    # em: '@doctrine.orm.entity_manager'
