default:
  context:
    parameters:
      reset_database : false
      environment    : dev
      debug          : true
  extensions:
    Behat\MinkExtension\Extension:
      base_url : 'http://localhost/TodoMVC/web/app_dev.php'
