<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TodoMVC</title>
    <link rel="stylesheet" href="{{ asset('bundles/todomvctodomvc/css/main.css') }}">
  </head>
  <body>
    <header id="actions">
      <a href="{{ path('list') }}" class="button">list</a>
      <a href="{{ path('create') }}" class="button">create</a>
      <a href="{{ path('contact') }}" class="button">contact</a>
    </header>
    <section id="todoapp">
      {% block content %}

      {% endblock %}
    </section>
  </body>
</html>
